@model IEnumerable<Order>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<table class="table">
    <thead>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.User.Email)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CreationDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LastModificationDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Fulfilled)
        </th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.User.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CreationDate)
            </td>
            <td>
                @if (item.LastModificationDate != null)
                {
                    @Html.DisplayFor(modelItem => item.LastModificationDate)
                }
                else
                {
                    @Html.Raw("Not modified")
                }
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Fulfilled)
            </td>
            <td>
                @if (item.Fulfilled)
                {
                    <a asp-action="Fulfilled" asp-route-id="@item.Id" asp-route-fulfilled="false">Mark unfulfilled</a>
                }
                else
                {
                    <a asp-action="Fulfilled" asp-route-id="@item.Id" asp-route-fulfilled="true">Mark fulfilled</a>
                }
                | <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
    }
    </tbody>
</table>